
.button1{
    background-color: #154360;
    color: white;
}

.linkovi{

    color: #af814c;
}

.linkovi a:hover{
    color: white;
}

.linkovi2{

    color: #154360;
}

.text{
    color: black;
}

.table{
    background-color: antiquewhite;
}

.tabele{
    background-color: #d6ebee;
}